---
---

@import "{{ site.theme }}";

body {
  height:100vh;
  margin:0;
}

@media only screen and (min-width: 767px) {
  header {
  a.button-github {
      top: -20px;
      background: transparent url(../images/github-button.png) 0 0 no-repeat;
  }

  a.button-gitlab {
      top: 70px;
      background: transparent url(../images/gitlab-button.png) 0 0 no-repeat;
  }
  }
}

/* Trick */
body {
  display:flex;
  flex-direction:column;
}

footer {
  margin-top:auto;
}

#foot {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: grey;
  color: white;

  a {
    color: #9ddcff;
  }
}
